<div class="menu">
    <p class="option" [class.selected]="'FX' === selectedOption" (click)="selectMenuItem('FX', $event)">Effects</p>
    <p class="option" [class.selected]="'IO' === selectedOption" (click)="selectMenuItem('IO', $event)">Input / Output
    </p>
    @if(selectedOption != null) {
    <!-- todo: show menu as absolute sheet below -->
    <div class="menu-content">
        @switch(selectedOption) {
        @case("FX") {
        <!-- todo: add effects from available effects list -->
        @for(effect of availableEffects; track effect) {
        <chip [title]="effect" (click)="effectSelected($event, effect)" />
        }
        }
        @case ("IO") {
        <!-- todo: add io options -->
        <p>IO CONFIG GOES HERE</p>
        }
        }
    </div>
    }
</div>